/* General Styling
============================= */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0 auto;
}

/* Header */

header h1 {
	text-align: center;
}

header {
	border-bottom: 2px solid black;
}
