/* General Styling
============================= */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0 auto;
}

/* Header */

header h1 {
	text-align: center;
}

header {
	border-bottom: 2px solid black;
}

/* Menu */

.menu form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

.menu form input {
	border: 1px solid black;
}

.menu form input:nth-of-type(2),
.menu form button {
	margin-top: 0.5em;
}

.menu form > p {
	color: red;
	display: none;
}

.menu form > * {
	max-width: 300px;
}

/* turn */

.turn {
	margin-block: 1em;
}

.turn h2 {
	text-align: center;
}

/* outcome */

.outcome {
	margin-block: 1em;
}

.outcome h2 {
	text-align: center;
}
